<%= form_with model: user do |form| %>
  <div class="mb-3">
    <%= form.label "Display name:", class: "form-label" %>
    <%= form.text_field "name", value: user.name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label "Username:", class: "form-label" %>
    <%= form.text_field "username", value: user.username, class: "form-control", autocomplete: "username" %>
  </div>
  <div class="mb-3">
    <%= form.label "Password:", class: "form-label" %>
    <%= form.password_field "password", class: "form-control", autocomplete: "current_password" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Create account", class: "btn btn-primary btn-lg text-white" %>
  </div>
<% end %>