<div class="col mb-3 sv-product-container">
  <button class="btn btn-light w-100 text-start h-100 js-product"
    data-product-id="<%= product.id%>"
    data-ancestors="<%= ancestors %>"
    data-product-name="<%= product.name %>"
    data-product-price="<%= product.price %>"
  >
    <h4><%= product.name %></h3>
    <span><%= number_to_currency(product.price) %></span>
  </button>
</div>