<%= javascript_include_tag 'order', defer: "defer" %>

<div class="row h-100">
  <div class="col-7 bg-dark text-light p-0">
    <div class="container pt-4">
      <% @categories.each do |level, categories| %>
        <%= render 'category_row',
          categories: categories,
          level: level
        %>
      <% end %>

      <div class="row row-cols-4">
        <% @products_with_ancestors.each do |product, ancestor_list| %>
          <%= render "product_button",
            product: product,
            ancestors: ancestor_list
          %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col p-0 sv-order-panel">

    <div class="p-4 d-flex flex-column justify-content-between h-100">
    
      <div>
        <div class="row">
          <div class="col-6 sv-line-item-header">Item</div>
          <div class="col-2 sv-line-item-header">Qty</div>
          <div class="col-2 sv-line-item-header">Each</div>
          <div class="col-2 sv-line-item-header">Total</div>
        </div>
        <div class="line-items"></div>
      </div>

      <div class="row sv-order-summary mt-2">
        <div class="col-6 d-flex justify-content-between py-4 sv-order-summary__items">
          <span class="text-muted">Items</span>
          <span class="fw-bold js-order-count">0</span>
        </div>
        <div class="col-6 d-flex justify-content-between py-4">
          <span class="text-muted">TOTAL</span>
          <span class="fw-bold js-order-total"><%= number_to_currency(0) %></span>
        </div>

        <div class="col-12 d-flex justify-content-between mt-4">
          <button class="btn btn-danger js-cancel-order">Cancel</button>
          <button class="btn btn-lg btn-success fw-bold w-50 js-submit-order">PAY</button>
        </div>
      </div>

    </div>

  </div>
  
  <!-- This form is populated and submitted by javascript -->
  <%= form_with url: orders_url,
    id: 'js-order-form',
    data: { turbo: false } do |form| %>
  <% end %>
</div>
