<%= javascript_include_tag 'order', defer: "defer" %>

<div class="row h-100">
  <div class="col-7 bg-dark text-light p-0 sv-products-panel">
    <div class="container pt-4">
      <% @categories.each do |level, categories| %>
        <%= render 'category_row',
          categories: categories,
          level: level
        %>
      <% end %>

      <div class="row row-cols-4">
        <% @products_with_ancestors.each do |product, ancestor_list| %>
          <%= render "product_button",
            product: product,
            ancestors: ancestor_list
          %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col p-0 sv-order-panel">

    <div class="p-4 d-flex flex-column justify-content-between h-100">
    
      <div>
        <div class="row">
          <div class="col-6 sv-line-item-header">Item</div>
          <div class="col-2 sv-line-item-header d-flex justify-content-center">Qty</div>
          <div class="col-2 sv-line-item-header d-flex justify-content-center">Each</div>
          <div class="col-2 sv-line-item-header d-flex justify-content-center">Total</div>
        </div>
        <div class="line-items"></div>
      </div>

      <div class="row sv-order-summary mt-2">
        <div class="col-6 d-flex justify-content-between py-4 sv-order-summary__items">
          <span class="text-muted">Items</span>
          <span class="fw-bold js-order-count">0</span>
        </div>
        <div class="col-6 d-flex justify-content-between py-4">
          <span class="text-muted">TOTAL</span>
          <span class="fw-bold js-order-total"><%= number_to_currency(0) %></span>
        </div>

        <div class="col-12 d-flex justify-content-between mt-4">
          <button class="btn btn-danger js-cancel-order">Cancel</button>
          <button class="btn btn-lg btn-success fw-bold w-50 " data-bs-toggle="modal" data-bs-target="#paymentModal">PAY</button>
        </div>
      </div>

    </div>

  </div>
  
  <!-- This form is populated and submitted by javascript -->
  <%= form_with url: orders_url,
    id: 'js-order-form',
    data: { turbo: false } do |form| %>
  <% end %>

  <!-- Payment Modal -->
  <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="paymentModalLabel">Payment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="payment-form">
          <div class="modal-body">
            <div class="row">
              <div class="col-3 border-end me-2 d-flex flex-column justify-content-center">
                <div class="form-check">
                  <input type="radio" name="payment[payment-type]" value="cash" id="payment-cash" class="btn-check" required>
                  <label for="payment-cash" class="btn btn-outline-success">Cash</label>
                </div>
                <div class="form-check">
                  <input type="radio" name="payment[payment-type]" value="card" id="payment-card" class="btn-check" required>
                  <label for="payment-card" class="btn btn-outline-success">Card</label>
                </div>
              </div>
              <div class="col">
                <div class="d-flex mb-3">
                  <label class="col-sm-6 col-form-label" for="payment-amount-payed]">Payed</label>
                  <div class="input-group">
                    <span class="input-group-text">R</span>
                    <input type="number" min="0" step="0.5" name="payment[amount_payed]" id="payment-amount-payed" class="form-control text-end" placeholder="0,00" required>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <label class="col-sm-6 col-form-label">Total</label>
                  <div class="input-group">
                    <span class="input-group-text">R</span>
                    <input id="payment-total" type="text" class="form-control text-end" value="0,00" readonly>
                  </div>
                </div>
                <div class="d-flex mb-3">
                  <label class="col-sm-6 col-form-label">Change</label>
                  <div class="input-group">
                    <span class="input-group-text">R</span>
                    <input id="payment-change" class="form-control text-end" value="0" readonly>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-lg btn-primary text-white js-submit-order">Pay</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
