<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :price, class: "form-label" %>
    <div class="input-group">
      <span class="input-group-text">R</span>
      <%= form.number_field :price,
        in: 0.0..500.0,
        step: 0.5,
        class: "form-control",
        value: number_with_precision(product.price, precision: 2)
      %>
    </div>
  </div>
  
  
  <div class="mb-3">
    <%= form.label :category_id %>
    <select name="product[category_id]" id="category" class="form-select">
      <% @categories_by_parent_id[nil].each do |category| %>
        <%= render 'category_option',
          category: category,
          categories_by_parent_id: @categories_by_parent_id
        %>
      <% end %>
    </select>
  </div>

  <div>
    <%= form.submit "Save Product", class: "btn btn-primary text-white" %>
  </div>
<% end %>
