<div class="card m-2 p-0" style="max-width: 18rem;" id="<%= dom_id product %>">

  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text"><%= product.description %></p>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Price:</strong> <%= number_to_currency(product.price) %></li>
    <li class="list-group-item"> <strong>Category:</strong> <%= product.category.name %></li>
  </ul>

  <div class="card-body">
    <div class="d-flex">
      <%= link_to "Edit", edit_product_path(product), class: "btn btn-warning me-2"%>
      <%= button_to "Remove", product, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>

</div>
