<!DOCTYPE html>
<html>
  <head>
    <title>DettiPOS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="alert alert-danger mb-0 text-center" role="alert">
      This is a demo application that's still under development. <a href="https://github.com/saulthebear/dettiPOS"><i class="bi bi-github"></i> More information.</a>
    </div> 
    <div class="container">
      <div class="row">
        <%= render "shared/nav" %>
      </div>
      
      <%= render 'shared/alerts' %>
      
      <%= yield %>
    </div>
  </body>
</html>
